@using WebUI.Areas.Account
@model WebUI.Areas.Account.Models.Admin.SetPasswordModel

@{
    var routevalues = Url.FromCurrent();

    ViewBag.Title = "Задание пароля";
}

@using (Html.BeginForm("SetPassword", "Admin", routevalues, FormMethod.Post, new Dictionary<string, object>
{
    { "class", "account-card__form" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.UserId)


    @Html.InputFieldFor(x => x.NewPassword, "password")
    @Html.InputFieldFor(x => x.ConfirmPassword, "password")


    <!-- SUBMIT BUTTON -->
    <button class="btn btn-large btn-block" type="submit">Установить</button>

    <!-- BACK LINK -->
    <div class="actions">
        <a href="@Url.Action("Index", routevalues)" data-route="back">Отмена</a>
    </div>

        <!-- HIDDEN VALIDATION MESSAGES -->
    <div class="validations">
        <div data-validation-summary>@Html.ValidationSummary(true)</div>
    </div>
}
