

@using WebUI.Areas.Account
@model WebUI.Areas.Account.Models.Account.SendResetPasswordModel


@{
    var routevalues = Url.FromCurrent();

    ViewBag.Title = "Сброс пароля";
}

@using (Html.BeginForm("SendResetPassword", "Account", routevalues, FormMethod.Post, new Dictionary<string, object> { { "class", "account-card__form" } }))
{
    @Html.AntiForgeryToken()

    @Html.InputFieldFor(x => x.Login, "text")
    @Html.Captcha(Model.CaptchaName, 140, 30);

    <!-- SUBMIT BUTTON -->
    <button class="btn btn-large btn-block" type="submit">Отправить</button>

    <!-- BACK LINK -->
    <div class="actions">
        <a href="@Url.Action("Login", routevalues)" data-route="back">Отмена</a>
    </div>

    <!-- HIDDEN VALIDATION MESSAGES -->
    <div class="validations">
        <div data-validation-summary>@Html.ValidationSummary(true)</div>
    </div>
}


@section card_class {no-footer}
