@using System.Web.UI.HtmlControls
@model EditorViewModel

@{
    var grid = Html.CreateSystemName("grid");
    var dialog = Html.CreateSystemName("dialog");
}

<div id="@Model.UID" style="height: 100%">
    <div class="kwidget kwidget--grid">
        <div id="@grid" style="height: 100%;"></div>
    </div>
</div>

<script>
    $(function () {
        var editor = $("#@Model.UID");
        var $form = editor.closest("form");

        $form.on("onAfterBind",
            function (e, form) {
                var requestId = null;
                var responseId = null;
                var id = form.getModel().ID;
                try {//duck test
                    form.getModel().Request.ID;
                } catch (e) {
                    requestId = id;
                }
                //Response
                if (requestId == undefined)
                    responseId = id;
                var mnemonic = "ResponseDynamicType";//@Model.ParentViewModelConfig.Mnemonic;
                //debugger;
                $.get("/Response/GetResponseGrid?responseId=" + responseId + "&requestId=" + requestId + "&_widgetid=" + "@grid" + "&_dialogid=" + "@dialog" + "&mnemonic=" + mnemonic, function (res) {
                    $("#@Model.UID").find(".kwidget.kwidget--grid").html(res);
                    var dialog = window["@dialog"];

                    dialog.onWidgetChanged({
                        sender: dialog,
                        event: "init"
                    });
                });
            });
    });
</script>
